
// Start header

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;

    a {
        text-decoration: none;
        color: #271212;
    }

    .header-container {
        align-items: center;
        display: flex;
        gap: 50px;
    }

    .header-menu {
        display: flex;
        gap: 24px;
    

        .menu-item {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 6px 12px;
            line-height: 16px;
            color: #fff;
            background-color: #088b3f;
            border-radius: 8px;
            
        }
        .menu-item:hover {
            background-color: #088b3f;
            box-shadow: 0 0 12px #088b3f, 0 0 16px #024736;
            border-radius: 6px;
        }
    }
        
        
    .header-icon {
        margin-right: 4px;
        width: 16px;
        height: 16px;
    }
    .header-user {
        button {
            display: flex;
            align-items: center;
            font-size: 16px;
            background-color: #088b3f;
            border: 2px solid #023a05;
            border-radius: 6px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color:#fff;
            cursor: pointer;
            padding: 8px 16px;

        }
        button:hover {
            color: #fff;
            background: #28920d;
            box-shadow: 0 0 12px #088b3f, 0 0 16px #024736;
        }
    }
}   

