
// Start header

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #123435;

    a {
        text-decoration: none;
        color: bisque;
    }

    .header-container {
        align-items: center;
        display: flex;
        gap: 50px;
    }

    .header-menu {
        display: flex;
        gap: 24px;
    

        .menu-item {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 6px 12px;
            line-height: 16px;
            color: #fff;     
        }
        .menu-item:hover {
            color: #2cbfc4;
            text-shadow: #FC0 6px 0 16px;
        }
    }
        
        
    .header-icon {
        margin-right: 4px;
        width: 16px;
        height: 16px;
    }
    .header-user {
        
        
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #4CAF50;
            border: none;
            border-radius: 5px;
            color: white;
            padding: 15px 32px;
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;
            img {
                margin-right: 10px;
            }

        }
        a:hover {
            
        }
    }
}   

