<header class="header">
  <div class="header-container">
    <div class="header-logo">
      <a href="#">Logo
        <!-- <img src="" alt="header-logo"> -->
      </a>
    </div>
    <div class="header-menu">
      <a class="menu-item" routerLink="/case">
        <img class="header-icon" src="assets/icons/home.png" alt="home">Home
      </a>
      <a class="menu-item"  routerLink="/skins">>
        <img class="header-icon" src="assets/icons/gun-icon.png" alt="home">Skins
      </a>
      <a class="menu-item" href="#">
        <img class="header-icon" src="assets/icons/money.png" alt="home">Bonus
      </a>
      <a class="menu-item" href="#">
        <img class="header-icon" src="assets/icons/information.png" alt="home">FAQ
      </a>
      <a class="menu-item" href="#">
        <img class="header-icon" src="assets/icons/support.png" alt="home">Support
      </a>
    </div>
  </div>
  <div class="header-user">
    <a href="/">
      <button class="bn54">
        <span class="bn54span">Sign Up</span>
      </button>
    </a>
  </div>
</header>

