<header class="header">
  <div class="header-container">
    <div class="header-logo">
      <a href="#">Logo
        <!-- <img src="" alt="header-logo"> -->
      </a>
    </div>
    <div class="header-menu">
      <a class="menu-item" routerLink="/case">
        <img class="header-icon" src="assets/icons/home.png" alt="home">Home
      </a>
      <a class="menu-item" href="#">
        <img class="header-icon" src="assets/icons/money.png" alt="home">Bonus
      </a>
      <a class="menu-item" href="#">
        <img class="header-icon" src="assets/icons/information.png" alt="home">FAQ
      </a>
      <a class="menu-item" href="#">
        <img class="header-icon" src="assets/icons/support.png" alt="home">Support
      </a>
    </div>
  </div>
  <div class="header-user">
      <a class="header-button">
        <img class="header-icon" src="assets/icons/user-icon.png" alt="">
        <span class="header-user-text">Sign UP</span>
      </a>
  </div>
</header>

